.chart-context{
    width: 100%;
    height: 100%;
    display: flex;
    cursor: move;
    flex-direction: column;
}

.chart-bar{
    width: 100%;
    height: 30px;
    &:hover{
        color: #000
    }
}

.chart-content{
    width: 100%;
    height: calc(100% - 30px);
}

.chart-warp{
    flex: 1;
}

.eles-h3{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px #f0f0f0 solid;
    color:#fff;
    background-color: #000;
    border-radius: 3px;
    padding-left: 7px;
    margin: 7px 0;
    font-weight: 500;
}

.eles-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    max-width: 300px;
    &>li{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 3px;
        img{
            max-width: 90px;
            max-height: 90px;
            cursor: move;
        }
    }
}