.chart-context{
    width: 100%;
    display: flex;
    flex-direction: row;
    &>aside{
        width: 300px;
    }
    &>article{
        width: calc(100% - 300px);
    }
}
.chart-bar{
    width: 100%;
    &:hover{
        color: #000
    }
}